<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-1">
    <div class="">
      <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" icon="fa-close" pbutton="" type="button"
        ng-reflect-icon="fa-close" >
        <span>刷新</span>
      </button>
    </div>
  </div>

  <div class="ui-g-12 ui-md-2">
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" icon="fa-search" pbutton="" type="button"
      ng-reflect-icon="fa-search">
      <span class="ui-button-icon-left ui-clickable fa fa-fw fa-check"></span>
      <span>取消所有报警</span>
    </button>
  </div>

  <div class="ui-g-12 ui-md-1">
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-button-text-icon-left" icon="fa-search" pbutton="" type="button"
      ng-reflect-icon="fa-search">
      <span class="ui-button-icon-left ui-clickable fa fa-fw fa-search"></span>
      <span>静音</span>
    </button>
  </div>
</div>
