
<div class="row">
  <div class="col-lg-6 ">
    <!-- <ngx-temperature></ngx-temperature> -->
    <!-- <alarm-type-pie></alarm-type-pie> -->
    <alarm-trend-chart-1></alarm-trend-chart-1>
  </div>
  <div class="col-lg-6 ">
      <!-- <ngx-temperature></ngx-temperature> -->
      <!-- <alarm-trend-chart></alarm-trend-chart> -->
      <alarm-type-pie-1></alarm-type-pie-1>
    </div>
  <!-- <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div> -->
</div>
