<nb-card>
  <nb-card-body  style="height:400px">
    <div class="ui-lg ui-fluid">
      <div class="ui-lg-12 ui-md-6">
          <div class="input-group">
            <input type="text" class="form-control" (keyup.enter)="searchGroup()" (keyup.backspace)="resetTree()" placeholder="输入权限名称" [(ngModel)]="searchGroupName">
            <span class="input-group-btn">
              <button class="btn btn-primary" (click)="searchGroup()">
                查询
              </button>
            </span>
          </div>
      </div>


      <div class="ui-lg-12 ui-md-12" >
        <div class="tree-content" id='treeContainer'>
          <tree-root #tree [nodes]="nodes" [options]="options">
            <ng-template #treeNodeTemplate let-node="node" let-index="index">
              <input (change)="check(node, !node.data.checked)" type="checkbox" id="check-{{node.data.PRIVILEGE_ID}}" [indeterminate]="node.data.indeterminate"
              [checked]="node.data.checked">
              <img style="margin-top:-5px" src="./assets/images/t.png" alt="#" />{{ node.data.PRIVILEGE_NAME}}
            </ng-template>
          </tree-root>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
