@import '../../../@theme/styles/themes';
@include nb-install-component() {
  * {
    font-size: 0.8rem;
    font-family: 微软雅黑, tahoma;
    color: #333;
  }
  .row {
    padding-right: 0.5rem;
    padding-left: 0;
  }
  .col-12 {
    padding-right: 0;
    padding-left: 0;
  }
  nb-card {
    height: 100%;
    font-size: 0.64rem;
  }
  nb-card-header {
    padding: 0;
  }
  nb-card-body {
    height: calc(100vh - 16.3rem);
    padding: 1rem;
  }
  /* input 在IE下去掉X 去掉密码输入的眼睛图标 */
  input::-ms-clear {
    display: none;
  }
  input::-ms-reveal {
    display: none;
  }
  /* 导航 */
  .loaction {
    height: 3.2rem;
    border-bottom: 1px solid #eceef2;
    font-weight: 100;
  }
  .loaction_box {
    float: left;
    margin-left: 0.8rem;
  }
  .loaction_box img {
    float: left;
    display: inline-block;
    margin-top: 0.72rem;
    margin-right: 0.8rem
  }
  .loaction_box p {
    font-size: 0.64rem;
    line-height: 3.2rem;
    color: #999;
    float: left;
    font-weight: 100;
  }
  .loaction_box p b {
    display: inline-block;
    background: url(../../../../assets/images/rrrow-right.png) no-repeat;
    width: 0.72rem;
    height: 1.04rem;
    margin-left: 0.48rem;
    margin-right: 0.48rem;
    vertical-align: middle;
  }
  .loaction_box p span {
    display: inline-block;
    color: #333;
    font-size: 0.96rem;
    font-weight: 100;
  }
  /* 导出按钮 */
  .btn_01 {
    display: inline-block;
    float: right;
    margin-right: 0.8rem;
    margin-top: 0.4rem
  }
  .btn_01 a {
    display: block;
    width: 6.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    background: #11bfff;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 0.24rem;
    font-weight: 100;
  }
  .btn_01 a:hover {
    background: #19b6f0;
    cursor: pointer;
  }
  .btn_01 a:active {
    background: #11bfff
  }
  /* 筛选条件 */
  .cen_condition {
    height: 4rem;
    padding: 0.4rem 0.16rem 0.4rem 1.2rem;
  }
  .searchCondition {
    height: 2.4rem;
    float: left;
    margin: 0 0.16rem;
  }
  /* 时间选择 */
  .input_desc {
    border: 1px solid #ACACAC;
    border-radius: 0.4rem 0 0 0.4rem;
    width: 4.4rem;
    text-align: center;
    display: inline-block;
    line-height: 2.24rem;
    font-weight: 100;
    font-size: 0.96rem;
    background-color: #efefef;
  }
  .input_timearea {
    width: 16rem;
    height: 2.4rem;
    border: 1px solid #ACACAC;
    border-left: 0px !important;
    border-radius: 0 0.4rem 0.4rem 0;
    padding: 0 0.4rem;
    font-size: 0.8rem;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  /* 查询输入框 */
  .input_textarea {
    text-align: left;
    width: 8rem;
    background: #fff;
    height: 2.4rem;
    line-height: 2rem;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    border: 1px solid #ACACAC;
    padding: 0 0 0 0.4rem;
    font-size: 0.96rem;
  }
  /* 查询按钮 */
  .btn_02 {
    display: inline-block;
    height: 2.4rem;
    margin: 0 0.16rem;
  }
  .btn_02 a {
    display: block;
    width: 6.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    background: #49a0d2;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 100;
    border-radius: .5em;
    -webkit-border-radius: .4rem;
  }
  .btn_02 a:hover {
    background: #50abe0;
    cursor: pointer;
  }
  .btn_02 a:active {
    background: #49a0d2;
  }
}
