<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <input pinputtext="" placeholder={{carNo}} type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
  </div>

  <div class="ui-g-12 ui-md-3">
    <div class="ui-inputgroup">
      <input pinputtext="" placeholder={{alarmType}} type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
  </div>

  <div class="ui-g-12 ui-md-1">
    <div class="">
      <button class="ui-button-danger ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" icon="fa-close" pbutton=""
        type="button" ng-reflect-icon="fa-close">
        <span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span>
        <span class="ui-button-text ui-clickable">ui-btn</span>
      </button>
    </div>
  </div>
  
  <div class="ui-g-12 ui-md-1">
    <button class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" icon="fa-search"
      pbutton="" type="button" ng-reflect-icon="fa-search">
      <span class="ui-button-icon-left ui-clickable fa fa-fw fa-search"></span>
      <span class="ui-button-text ui-clickable">ui-btn</span>
    </button>
  </div>
</div>
