
<div *ngIf="sysUser">
    <h2><span jhiTranslate="lbsApp.sysUser.detail.title">Sys User</span> {{sysUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lbsApp.sysUser.companyId">Company Id</span></dt>
        <dd>
            <span>{{sysUser.companyId}}</span>
        </dd>
        <dt><span jhiTranslate="lbsApp.sysUser.userName">User Name</span></dt>
        <dd>
            <span>{{sysUser.userName}}</span>
        </dd>
        <dt><span jhiTranslate="lbsApp.sysUser.userPwd">User Pwd</span></dt>
        <dd>
            <span>{{sysUser.userPwd}}</span>
        </dd>
        <dt><span jhiTranslate="lbsApp.sysUser.userDesc">User Desc</span></dt>
        <!--<dd>-->
            <!--<span>{{sysUser.userDesc}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.lastlogindate">Lastlogindate</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.lastlogindate | date:'mediumDate'}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.createdby">Createdby</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.createdby}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.createdon">Createdon</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.createdon | date:'mediumDate'}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.modifedby">Modifedby</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.modifedby}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.modifedon">Modifedon</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.modifedon | date:'mediumDate'}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.modifiedby">Modifiedby</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.modifiedby}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.modifiedon">Modifiedon</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.modifiedon | date:'mediumDate'}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.userphone">Userphone</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.userphone}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.email">Email</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.email}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.lastlogingroup">Lastlogingroup</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.lastlogingroup}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.groupid">Groupid</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.groupid}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.realname">Realname</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.realname}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.status">Status</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.status}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.userCarid">User Carid</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.userCarid}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.headicon">Headicon</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.headicon}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.positions">Positions</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.positions}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.departmentauthor">Departmentauthor</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.departmentauthor}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.userSex">User Sex</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.userSex}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.lejiaNum">Lejia Num</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.lejiaNum}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.hasupdated">Hasupdated</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.hasupdated}}</span>-->
        <!--</dd>-->
        <!--<dt><span jhiTranslate="lbsApp.sysUser.userSort">User Sort</span></dt>-->
        <!--<dd>-->
            <!--<span>{{sysUser.userSort}}</span>-->
        <!--</dd>-->
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sys-user/'+ sysUser.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
