@import '../../../@theme/styles/themes';
@include nb-install-component() {
    // /deep/.nb-theme-default ng2-smart-table table tr td {
    //     font-family: Roboto;
    //     font-size: 1rem;
    //     font-weight: 400;
    //     line-height: 0.2;
    //     color: #2a2a2a;
    // }
    
    // /deep/.nb-card {
    //     transform: translate3d(0, 0, 0);
    // }
    /deep/th {
        text-align: center;
    }
    /deep/td {
        text-align: center;
    }
    /deep/.ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tfoot > tr > td {
        background: #f6f7f9;
        border: 1px solid #d9d9d9;
        color: #1b1d1f;
    }
    /deep/.ui-table .ui-table-tbody > tr > td {
        border: 1px solid #D5D5D5;
    }
    /deep/.ui-widget-header {
        background: #ffffff;
        color: #2d353c;
        border: 0px solid #423939;
    }
    /deep/.ui-paginator {
        margin: 2.5%;
        text-align: center;
        padding: .125em;
    }
    
}