<nb-card>
    <nb-card-header>
      <div class="input-group input-group-sm">
        <span style="font-size:17px;">驾驶员评价表</span>
        <!-- <input type="text" style=" 
        height:41px;width:100px;margin-left:8%;" [(ngModel)]="searchName" pInputText placeholder="姓名">&nbsp; -->
        <input type="text" style=" 
          height:41px;width:150px;margin-left:25%;" [(ngModel)]="searchCarNo" pInputText placeholder="车牌号">
        <span style="margin-left:5%;"></span>  
        <!-- <p-dropdown [options]="alarmList" [(ngModel)]="selectedAlarm" placeholder="报警类型" optionField="alarmType"></p-dropdown> -->
        <button pButton style="height: 41px;width:100px;font-size:15px;margin-left:4%;" type="button" (click)="searchAlarm()" label="查询" class="ui-button-success"></button>
        &emsp;
      </div>
      <!-- <div class="input-group input-group-sm" style="margin-top:0.5%;">
        <span class="input-group-sm" style="width:40px;font-size:15px;margin-top:0.5%;margin-left:18%;">开始时间</span>
        <p-calendar showTime="true" [(ngModel)]="begindate" hourFormat="24" [locale]="cn" dateFormat="yy-mm-dd"></p-calendar>
        &nbsp;
        <span class="input-group-sm" style="width:40px;font-size:15px;margin-top:0.5%;margin-left:5%;">结束时间</span>
        <p-calendar showTime="true" [(ngModel)]="enddate" hourFormat="24" [locale]="cn" dateFormat="yy-mm-dd"></p-calendar>
        &emsp;
      </div> -->
    </nb-card-header>
  
    <nb-card-body>
      <div style="height: calc(100vh - 250px);">
        <p-table [value]="tableDatas" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10" [rowsPerPageOptions]="[5,10,15]">
          <ng-template pTemplate="header" >
              <tr>
                  <th>姓名</th>
                  <th>评分</th>
                  <th>手机号</th>
                  <th>车牌号</th>
                  <th>报警数量</th>
                  <th>百公里报警数</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tableData>
              <tr>
                  <td>{{tableData.CAR_DRIVER_NAME}}</td>
                  <td>{{tableData.EVALUATION_SCORE}}</td>
                  <td>{{tableData.CAR_DRIVER_PHONE}}</td>
                  <td>{{tableData.CAR_NO}}</td>
                  <td>{{tableData.COUNT}}</td>
                  <td>{{tableData.AVG_ALARM}}</td>
              </tr>
          </ng-template>
      </p-table>
      
    </div>
    </nb-card-body>
  </nb-card>