<div class="content-section implementation">
  <p-dialog [showHeader]='true' [responsive]='true' [(visible)]="display" positionTop="550" width="1000">
      <lbs-alarm-search></lbs-alarm-search>
      <lbs-alarm-table></lbs-alarm-table>
      <lbs-alarm-ctrl></lbs-alarm-ctrl>
  </p-dialog>
</div>
<!-- <div>
  <p-sidebar [(visible)]="display"  blockScroll="true" position="bottom" class="ng-tns-c3-18">
      <lbs-alarm-search></lbs-alarm-search>
      <lbs-alarm-table></lbs-alarm-table>
      <lbs-alarm-ctrl></lbs-alarm-ctrl>
  </p-sidebar>
</div> -->
